/*clearfix*/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix:before {
    *zoom: 1;
}
body{
 background: white;
 font-size: 18px;
}
img,video,object {
    max-width: 100%;
}
ul{
  margin: 0% 0 0 10%;
}

ul li{
  list-style: none;
}

h1{
  border-bottom: none;
  color: white;
  font-size: 2em;
  font-family: 'Dancing Script', cursive;
  margin: 0;
  line-height: 1em;
  padding: 0.2em 0.3em 0em 0.3em;
  text-align: center;
}
#icon{
  width: 100%;
  position: relative;
  margin: 0 0 0 15% ;
  padding: 0;
}
.social{
  float: left;
  padding-left: 1%;
  margin: 0;
}
#enlaces{
  padding: 5% 0 0 15%;
  margin: 0;
  width: 50%;
  float: left;
  position: relative;
  text-align: center;
}
.enlaces li a:hover{
    text-shadow: 1px 1px 0px #EABE0A;
}
.enlaces li a{
  color:white;
  font-size: 1.2em;
  text-decoration: none;

}
h2{
  text-transform: uppercase;
  font-size: 2em;
  line-height: 32px;
  color: #FFF7F7;
  padding: 0.4em 0 0.1em 0.4em ;
  margin:0;
}
.bloque ul{
    margin: 0;
    padding: 0 0 0 1em ;
    color: white;
    font-style:italic;

}
header.sidebar{
  background-color: black;
  width: 30%;
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  position: fixed;
  bottom: 0;
  top: 0;
}

section.sidebar_information{
  color: white;
}

div.sidebar_userimage{
  cursor: pointer;
  border-radius: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0% 0% 0;
  padding: 8% 0 0;
  text-align: center;
}
div.sidebar_userimage img{
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin: 0px;
  border: 5px double white; 
}
div.layout-principal{
  position: relative;
  top: 0; 
  right: 0; 
  bottom: 0;
  float: right;
  overflow-x: auto;
  width: 70%;
  padding: 0% 0% 0 0%;
  background: black;
}

div.bloque{
    margin:  0;
    padding: 0;
    background: url("../img/AA5.jpg")center center no-repeat;
    background-size: 100% 90%;
    float: left;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 660px;
}
div.bloque2{
    margin:  0;
    padding: 0;
    background: url("../img/148.jpg")center center no-repeat;
    background-size: 100% 100%;
    float: right;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 660px;
}
div.bloque3{
    margin:  0;
    padding: 0;
    background: url("../img/208.jpg")center center no-repeat;
    background-size: 100% 100%;
    float: right;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 660px;
}
div.bloque p{
  color: rgb(255, 255, 255);
  line-height: 1.9em;
}

.correo p{
  text-decoration:none;
  margin: 10% 0% 0 20%;
  width: 50%;
  font-size:2em;
  float: right;
  color: white;
  text-shadow: 1px 1px 0px black;

}

