body{
 background: #00AA55;
 font-size: 16px;
}

ul{
  margin: 0% 0 0 10%;
}

ul li{
  list-style: none;
}

h1{
  border-bottom: none;
  color: white;
  font-size: 2em;
  font-family: 'Dancing Script', cursive;
  margin: 0;
  line-height: 1em;
  padding: 0.2em 0.3em 0em 0.3em;
  text-align: center;
}
#icon{
  width: 100%;
  position: relative;
  margin: 0 0 0 15% ;
  padding: 0;
}
.social{
  float: left;
  padding-left: 1%;
  margin: 0;
}
#enlaces{
  padding: 5% 0 0 15%;
  margin: 0;
  width: 50%;
  float: left;
  position: relative;
}
.enlaces{
  text-align: center;
}
.enlaces li a{
  color:white;
  font-size: 1.2em;
  text-decoration: none;

}
h2{
  text-transform: uppercase;
  font-size: 2em;
  line-height: 32px;
  color: #FFF7F7;
  margin-bottom: 1em;
  padding-bottom: .5em;
  padding: 0 100px;
}

header.sidebar{
  background-color: black;
  width: 30%;
  background-size: cover;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  bottom: 0;
  top: 0;
}

section.sidebar_information{
  color: white;
}

div.sidebar_userimage{
  cursor: pointer;
  border-radius: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0% 0% 0;
  padding: 8% 0 0;
  text-align: center;

}

div.sidebar_userimage img{
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin: 0px;
  border: 5px double white; 
}


div.layout-principal{
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0;  
  overflow-x: auto;
  width: 55%;
  padding: 0% 20% 0 0%;
}

div.bloque{
  margin: 5% 0 0;
}

div.bloque p{
  color: rgb(255, 255, 255);
  line-height: 1.9em;
}
